.container {
  max-width: 800px;
  margin-inline: auto;
  header {
    display: flex;
    justify-content: center;
    margin: 2rem;
    a {
      font-size: 2rem;
      text-align: center;
    }
  }
}
