form {
  position: relative;
  h1 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
  }
  fieldset {
    position: relative;
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    label {
      display: block;
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
    }
    input {
      border: 1px solid var(--border-gray);
      padding: 0.5rem;
      height: 2rem;
      width: 100%;
      border-radius: 0.25rem;
      font-size: 0.9rem;
      &.ng-invalid.ng-touched {
        border: 1px solid var(--border-danger);
      }
    }
    span {
      position: absolute;
      top: 3.75rem;
      left: 0;
      font-size: 0.75rem;
      color: var(--text-danger);
    }
  }
  button {
    display: block;
    margin-left: auto;
    height: 2.5rem;
    width: 5rem;
    text-align: center;
    color: var(--text-white);
    background-color: var(--accent-color);
    border-radius: 0.5rem;
    cursor: pointer;
    &:disabled {
      background-color: var(--button-invalid);
      cursor: not-allowed;
    }
  }
  & > span {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 0.8rem;
    color: var(--text-danger);
  }
}
